.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedorRegistro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.contenedor-botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.divNombre{
  margin-top: 24px;
}
